{% extends 'index.html' %}

{% block title %}
AgendarSala
{% endblock %}

{% block body %}
{% load static %}

<div class="ContainerAg">
    <div class="sidebar">
        <img src="{% static 'admin/img/agendarr.png' %}" alt="Imagem Padrão">
    </div>
    <div class="contAgendar">
        <div class="cont2">
            <h1>Agendamento da Sala</h1>

            <form action="{% url 'agendarsala' %}" method="post">
                {% csrf_token %}

                {% if form.non_field_errors %}
                <div class="error-message">
                    {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-pair">
                    <div class="form-group">
                        <div>
                            <label for="{{ form.data.id_for_label }}">{{ form.data.label }}</label>
                        </div>
                        {{ form.data }}
                        {% if form.data.errors %}
                        <div class="error-message">
                            {% for error in form.data.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.turma.id_for_label }}">{{ form.turma.label }}</label>
                        {{ form.turma }}
                        {% if form.turma.errors %}
                        <div class="error-message">
                            {% for error in form.turma.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div>
                        {{ form.sala }}
                    </div>
                </div>

                <div class="form-pair">
                    <div class="form-group">
                        <label for="{{ form.assunto.id_for_label }}">{{ form.assunto.label }}</label>
                        {{ form.assunto }}
                        {% if form.assunto.errors %}
                        <div class="error-message">
                            {% for error in form.assunto.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    {% if form.assunto.value %}
                    {% if form.data.value and form.hora_entrada.value and form.hora_saida.value %}
                    {% if form.hora_entrada.errors or form.hora_saida.errors %}
                    <div class="error-message">
                        Já existe um agendamento para essa sala nesse horário.
                    </div>
                    {% endif %}
                    {% endif %}
                    {% endif %}
                </div>

                <div class="form-pair">
                    <div class="form-group">
                        <label for="{{ form.hora_entrada.id_for_label }}">{{ form.hora_entrada.label }}</label>
                        {{ form.hora_entrada }}
                        {% if form.hora_entrada.errors %}
                        <div class="error-message">
                            {% for error in form.hora_entrada.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label for="{{ form.hora_saida.id_for_label }}">{{ form.hora_saida.label }}</label>
                        {{ form.hora_saida }}
                        {% if form.hora_saida.errors %}
                        <div class="error-message">
                            {% for error in form.hora_saida.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                </div>

                <div class="btnagenda">
                    <button type="submit" class="animated-button">
                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                        <span class="text">Salvar</span>
                        <span class="circle"></span>
                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                            </path>
                        </svg>
                    </button>

                    <button class="botaoo" type="button" href="javascript:void(0)" id="backButton">
                        Cancelar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('backButton').addEventListener('click', function () {
        window.history.back();
    });
</script>




<style>
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    .icones {
        display: flex;
        flex-direction: column;
    }

    .botaoo {
        width: 120px;
        height: 50px;
        border: 2px solid #000000;
        border-radius: 45px;
        transition: all 0.3s;
        cursor: pointer;
        background: white;
        font-size: 15px;
        font-weight: 550;
        font-family: 'Montserrat', sans-serif;
    }

    .botaoo:hover {
        background: #8b0000;
        color: white;
        font-size: 20px;
    }

    .ContainerAg {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .contAgendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .cont2 h1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20%;
    }

    .sidebar {
        width: 40%;
        height: 100vh;
        background: linear-gradient(45deg, #A2000F, #790404, #dd0d22);
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }

    .sidebar img {
        max-width: 350px;
        max-height: 350px;
        z-index: 4;



    }

    .sidebar::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
        mix-blend-mode: overlay;
    }

    .sidebar::after {
        content: '';
        position: absolute;
        top: -50px;
        left: -50px;
        width: 150px;
        height: 150px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        filter: blur(50px);
    }

    .sidebar::before {
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        background: linear-gradient(45deg, #8b0000, rgb(165, 4, 4), #e41d1d);

    }

    .cont2 form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .form-pair {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .form-group {
        width: 48%;
        display: flex;
        flex-direction: column;
    }

    .form-group label {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    .form-group input {
        border: none;
        border-radius: 5px;
        background-color: #d9d9d9;
        padding: 10px 0;
        font-size: 16px;
        width: 100%;
        margin-bottom: 7px;
    }

    .form-group input[name='assunto'] {
        width: 210%;

    }

    .form-group span .btn {
        background-color: #8b0000;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 120px;
        color: #fff;
    }

    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 5px 36px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        box-shadow: 0 0 0 2px rgb(0, 0, 0);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button svg {
        position: absolute;
        width: 24px;
        fill: rgb(0, 0, 0);
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .arr-1 {
        right: 16px;
    }

    .animated-button .arr-2 {
        left: -25%;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #212121;
        border-radius: 5px;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
    }

    .animated-button:hover svg {
        fill: #212121;
    }

    .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px rgb(0, 0, 0);
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
    }

    .btnagenda {
        display: flex;
        flex-direction: row-reverse;

        gap: 20px;
    }

    @media screen and (max-width: 400px) {
        .sidebar {
            display: none;
        }

        .contAgendar {
            margin: 50px;
        }

    }
</style>

{% endblock %}