{% extends 'index.html' %}

{% block title %}
Salas
{% endblock %}

{% block body %}
<style>
    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 8px;
    }

    .outfit {
        font-family: "Outfit", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
    }

    .search-box {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 40px;
        height: 35px;
        padding: 10px;
    }

    .search-text {
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        width: 0;
        transition: 0.4s;
    }

    .search-btn {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        align-self: center;
    }

    .search-box:hover>.search-text {
        width: 320px;
        padding-left: 20px;
    }

    .fixed-size-card {
        width: 100%;
        height: 18rem;
        position: relative;
        overflow: hidden;
    }

    .vertical-line {
        width: 8px;
        height: 150px;
        margin: 0 auto;
        margin-right: 10px;
        border-radius: 50px;
        background-color: #C53F3F;
    }

    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px 25px;
        border: 4px solid;
        border-color: transparent;
        font-size: 14px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: #9B0000;
        box-shadow: 0 0 0 2px #9B0000;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
        text-decoration: none;
    }

    .animated-button svg {
        position: absolute;
        width: 18px;
        fill: #9B0000;
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        text-decoration: none;
    }

    .animated-button .arr-1 {
        right: 16px;
        text-decoration: none;
    }

    .animated-button .arr-2 {
        left: -25%;
        text-decoration: none;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: #9B0000;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        text-decoration: none;
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
        text-decoration: none;
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #FFFFFF;
        border-radius: 12px;
        text-decoration: none;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
        text-decoration: none;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
        text-decoration: none;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
        text-decoration: none;
    }

    .animated-button:hover svg {
        fill: #FFFFFF;
        text-decoration: none;
    }

    .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px #9B0000;
        text-decoration: none;
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
        text-decoration: none;
    }

    .card {
        background-color: #d5d5d5;
    }

    .card-button {
        transform: translate(-50%, 125%);
        width: 60%;
        border-radius: 1rem;
        border: none;
        background-color: #9B0000;
        color: #fff;
        font-size: 1rem;
        padding: .5rem 1rem;
        position: absolute;
        left: 50%;
        bottom: 0;
        opacity: 0;
        transition: 0.3s ease-out;
    }

    .card:hover {
        border-color: #9B0000;
        box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.25);
    }

    .card:hover .card-button {
        transform: translate(-50%, -20%);
        opacity: 1;
    }

    .botao {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border: none;
        padding: 4rem;
        font-size: 1rem;
        width: 100%;
        height: 100%;
        color: #8B0000;
        box-shadow: 0 0.4rem #dfd9d9;
        cursor: pointer;
    }

    .botao:active {
        color: #8B0000;
        box-shadow: 0 0.2rem #dfd9d9;
        transform: translateY(0.2rem);
    }

    .botao:hover:not(:disabled) {
        background: #8B0000;
        color: #ffffff;
        text-shadow: 0 0.1rem #000000;
    }

    .botao:disabled {
        cursor: auto;
        color: grey;
    }

    .botao span.material-symbols-outlined {
        text-align: center;
    }

    .sala-card {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        margin-bottom: 10px;
        width: calc(33.33% - 20px);
        box-sizing: border-box;
    }

    .back-arrow {
        display: none;
        color: #FFFFFF;
        font-size: 18px;
        margin-left: 15px;
        cursor: pointer;
    }

    .filefoto {
        margin-bottom: 10px;
    }

    ::-webkit-file-upload-button {
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        background-color: #F8F9FA;

    }

    ::-webkit-file-upload-button:hover {
        border: none;
        padding: 6px 12px;
        border-radius: 5px;
        background-color: #d3d4d5;
    }

    @keyframes moveBorder {
        0% {
            border: 3px solid transparent;
            border-left-color: red;
        }

        25% {
            border: 3px solid transparent;
            border-top-color: red;
        }

        50% {
            border: 3px solid transparent;
            border-right-color: red;
        }

        75% {
            border: 3px solid transparent;
            border-bottom-color: red;
        }

        100% {
            border: 3px solid transparent;
            border-left-color: red;
        }
    }

    .modal-content2 {
        animation: moveBorder 3s infinite ease-in-out;
    }

    @media (max-width: 660px) {
        #mainContent {
            justify-content: flex-start;
            /* Alinhar os cards à esquerda */
            margin: 40px;
        }

        .sala-card {
            flex: 0 0 50%;
            /* Fazer com que cada card ocupe metade da largura */
            max-width: 50%;
            /* Limitar a largura máxima a 50% */
        }
    }

    @media (max-width: 550px) {
        #mainContent {
            justify-content: center;
            /* Alinhar os cards à esquerda */
            align-items: center;
        }

        .sala-card {
            flex: 0 0 100%;
            /* Faz com que o card ocupe toda a largura */
            max-width: 100%;
            /* Define a largura máxima como 100% */
            margin-bottom: 20px;
            /* Adiciona espaço entre os cards */
        }
    }
</style>

<body style="background-color: #f5f5f5;">
    <div class="navbar" style="background-color: #A2000F;">
        <div class="container-fluid">
            <div style="display: flex; align-items: center;">
                <div class="search-container">
                    <a class="navbar-brand back-arrow" id="backArrow">
                        <span class="material-symbols-outlined" style="color:#FFFFFF">arrow_back</span>
                    </a>
                    <div class="search-box">
                        <input type="text" class="search-text" id="searchInput" placeholder="Pesquisar sala">
                        <a class="search-btn" id="searchBtn">
                            <span type="submit" style="color: #4d4c4cc5" class="material-symbols-outlined">search</span>
                        </a>
                    </div>
                </div>
                <form method="get" id="filterForm" style="margin-right: 15px;">
                    <select id="corredorFilter" style="border-radius: 20px; margin-left: 15px;" class="form-select"
                        aria-label="Default select example">
                        <option selected disabled>Filtrar por corredor</option>
                        <option value="all">Todas as Salas</option>
                        {% for corredor in corredores %}
                        <option value="{{ corredor }}">{{ corredor }}</option>
                        {% endfor %}
                    </select>
                </form>
                <a class="navbar-brand" href="{% url 'agenda' %}"
                    style="color: #FFFFFF; font-size: 18px; padding-left: 20px;">Salas</a>
            </div>
            {% if user.is_authenticated %}
            {% if user_is_coordenador %}
            <a class="navbar-brand" href="{% url 'cadastrosala' %}"
                style="color: #FFFFFF; font-size: 18px; display: flex; align-items: center;">
                Adicionar nova sala <span class="material-symbols-outlined" style="padding-left: 5px;">add</span>
            </a>
            {% endif %}
            {% endif %}
        </div>
    </div>

    <main id="mainContent"
        style="display: flex; justify-content: center; margin-top: 30px; flex-wrap: wrap; margin-right: 25px;">
        {% for item in dados_sala %}
        <div class="sala-card" data-nome="{{ item.nome|upper }}">
            <div class="vertical-line"></div>
            <div class="card fixed-size-card" data-bs-toggle="modal" data-bs-target="#exampleModal{{ forloop.counter }}"
                style="border-bottom-left-radius: 15px; border-bottom-right-radius: 15px; border-top-right-radius: 15px; width: 300px;">
                <img src="{{ item.foto_sala.url }}" class="card-img-top" alt="..."
                    style="filter: brightness(50%); width: 100%; height: 100%; object-fit: cover;">
                <div class="card-body d-flex align-items-center justify-content-center position-absolute top-50 start-50 translate-middle"
                    style="z-index: 1;">
                    <p class="card-text outfit" style="color: white; font-size: 30px; font-weight: 500;">{{ item.nome|upper }}</p>
                </div>
                <button class="card-button">Mais infos</button>
            </div>

            <!-- Modal de Detalhes da Sala -->
            <div class="modal fade" id="exampleModal{{ forloop.counter }}" tabindex="-1"
                aria-labelledby="exampleModalLabel{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel{{ forloop.counter }}">{{ item.nome|upper }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body"
                            style="align-self: center; justify-content: center; align-items: center;">
                            <img src="{{ item.foto_sala.url }}" class="card-img-top" alt="..."
                                style="filter: brightness(80%); max-width: 250px; max-height: 250px; object-fit: cover; display: flex; margin:auto; margin-bottom: 10px; border-radius: 10px; ">
                            <div
                                style="display: flex; align-items: center; justify-content: space-around; flex-wrap: wrap; flex-direction: column;">
                                <div style="width: 240px;">
                                    <h6>Corredor</h6>
                                    <p class="corredor">{{ item.corredor|upper }}</p>
                                </div>
                                <div style="width: 240px;">
                                    <h6>Descrição</h6>
                                    <p>{{ item.descricao }}</p>
                                </div>
                                <div style="width: 240px;">
                                    <h6>Capacidade</h6>
                                    <p>{{ item.capacidade }}</p>
                                </div>
                            </div>

                            <div style="display:flex; align-items: center; justify-content: center;">
                                {% if user.is_authenticated %}
                                {% if user_is_coordenador %}
                                <div style="padding-right: 30px">
                                    <!-- Botão para abrir a Modal de Edição -->
                                    <span type="button" class="material-symbols-outlined editarr" data-bs-toggle="modal"
                                        data-bs-target="#modalEditar{{ item.id }}">
                                        edit
                                    </span>
                                    <!-- Botão para excluir -->
                                    <span type="button" data-bs-toggle="modal"
                                        data-bs-target="#modalExcluir{{ forloop.counter }}"
                                        class="excluirr material-symbols-outlined">
                                        delete
                                    </span>
                                </div>
                                {% endif %}
                                {% endif %}
                                <div style="padding: 10px; display: flex; align-self: center;">
                                    <a href="{% url 'calendario' item.id %}" class="animated-button">
                                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                            </path>
                                        </svg>
                                        <span class="text">Agendar</span>
                                        <span class="circle"></span>
                                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                            </path>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% if user.is_authenticated %}
            {% if user_is_coordenador %}
            <!-- Modal de Edição -->
            <!-- <div class="modal fade" id="modalEditar{{ forloop.counter }}" tabindex="-1"
                aria-labelledby="exampleModalLabel2{{ forloop.counter }}" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel2{{ forloop.counter }}">Editar sala {{item.nome}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body imgfile"> -->
                            <!-- Formulário de Edição -->
                            <!-- <form action="{% url 'atualizarsala' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="mb-3">
                                    <label for="id_corredor">Corredor</label>
                                    <input type="text" id="id_corredor" name="corredor" value="{{ item.corredor }}"
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="id_descricao">Descrição</label>
                                    <textarea id="id_descricao" name="descricao"
                                        class="form-control">{{ item.descricao }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="id_capacidade">Capacidade</label>
                                    <input type="number" id="id_capacidade" name="capacidade"
                                        value="{{ item.capacidade }}" class="form-control">
                                </div>
                                <div class="mb-3">
                                    <div>
                                        <label>Visualize a foto atual:</label>
                                    </div>
                                    <div>
                                        <a href="{{ item.foto_sala.url }}" id="currentPhotoLink" target="_blank"
                                            class="btn btn-light">Foto atual</a>
                                    </div>
                                </div>
                                <div class="filefoto">
                                    <label>Escolha uma nova foto:</label>
                                    <label for="id_foto_{{ item.foto_sala.id_foto }}">{{ item.foto_sala.label }}</label>
                                    <input type="file" id="id_foto_{{ item.foto_sala.id_foto }}" name="foto"
                                        class="form-control-file">
                                    <span class="fileName file-name"></span>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn"
                                        style="background-color: #8B0000; color: #FFFFFF;">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="modal fade" id="modalEditar{{ item.id }}" tabindex="-1" aria-labelledby="exampleModalLabel2{{ item.id }}"
                aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel2{{ item.id }}">Editar sala {{ item.nome }}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body imgfile">
                            <!-- Formulário de Edição -->
                            <form id="formEditar{{ item.id }}" action="{% url 'atualizarsala' %}" method="post"
                                enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="sala_id" value="{{ item.id }}">
                                <div class="mb-3">
                                    <label for="id_corredor">Corredor</label>
                                    <input type="text" id="id_corredor" name="corredor" value="{{ item.corredor }}"
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <label for="id_descricao">Descrição</label>
                                    <textarea id="id_descricao" name="descricao" class="form-control">{{ item.descricao }}</textarea>
                                </div>
                                <div class="mb-3">
                                    <label for="id_capacidade">Capacidade</label>
                                    <input type="number" id="id_capacidade" name="capacidade" value="{{ item.capacidade }}"
                                        class="form-control">
                                </div>
                                <div class="mb-3">
                                    <div>
                                        <label>Visualize a foto atual:</label>
                                    </div>
                                    <div>
                                        <a href="{{ item.foto_sala.url }}" id="currentPhotoLink" target="_blank"
                                            class="btn btn-light">Foto atual</a>
                                    </div>
                                </div>
                                <div class="filefoto">
                                    <label>Escolha uma nova foto:</label>
                                    <input type="file" id="id_foto_{{ item.id }}" name="foto" class="form-control-file">
                                    <span class="fileName file-name"></span>
                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="submit" class="btn" style="background-color: #8B0000; color: #FFFFFF;">Salvar</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modalExcluir{{ forloop.counter }}" tabindex="-1"
                aria-labelledby="exampleModalLabel1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content modal-content2">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel1">Excluir sala {{item.nome}}</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form id="deleteForm" action="{% url 'deletarsala' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="nome_sala" value="{{ item.nome }}">
                                <p>Tem certeza de que deseja excluir esta sala?</p>
                                <button type="submit" class="btn btn-danger">Confirmar exclusão</button>
                                <button type="button" class="btn btn-secondary"
                                    data-bs-dismiss="modal">Cancelar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endif %}
        </div>

        {% endfor %}

        {% if user.is_authenticated and user_is_coordenador %}
        <div class="sala-card efeito">
            <div class="vertical-line"></div>
            <form class="card fixed-size-card" style="color: #eee; width: 300px; height: 18rem; border-radius: 8px;"
                action="{% url 'cadastrosala' %}" method="get">
                <button class="botao" type="submit">
                    <p>Adicionar Sala</p>
                    <span style="font-size: 50px; text-align: center; border: none;"
                        class="material-symbols-outlined">add_circle</span>
                </button>
            </form>
        </div>
        {% endif %}
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Função para verificar se a seta de voltar deve ser exibida
            function showBackArrow() {
                const salaCards = document.querySelectorAll('.sala-card');
                let filteredCount = 0;

                salaCards.forEach(function (card) {
                    if (card.style.display !== 'none') {
                        filteredCount++;
                    }
                });

                if (filteredCount < salaCards.length) {
                    document.getElementById('backArrow').style.display = 'block';
                } else {
                    document.getElementById('backArrow').style.display = 'none';
                }
            }

            // Adicionar evento de clique à seta de voltar
            document.getElementById('backArrow').addEventListener('click', function () {
                const salaCards = document.querySelectorAll('.sala-card');
                salaCards.forEach(function (card) {
                    card.style.display = 'flex';
                });
                document.getElementById('backArrow').style.display = 'none';
                document.getElementById('searchInput').value = '';
                document.getElementById('corredorFilter').selectedIndex = 0; // Redefinir para o placeholder
            });

            // Adicionar evento de mudança ao filtro de corredor
            document.getElementById('corredorFilter').addEventListener('change', function () {
                const corredorSelecionado = this.value.toLowerCase();
                const salaCards = document.querySelectorAll('.sala-card');

                salaCards.forEach(function (card) {
                    const salaCorredorElement = card.querySelector('.corredor');
                    if (salaCorredorElement) {
                        const salaCorredor = salaCorredorElement.textContent.toLowerCase();
                        if (corredorSelecionado === '' || corredorSelecionado === 'all' || salaCorredor.includes(corredorSelecionado)) {
                            card.style.display = 'flex';
                        } else {
                            card.style.display = 'none';
                        }
                    }
                });

                showBackArrow(); // Chamar a função para mostrar/ocultar a seta de voltar
            });

            // Adicionar evento de clique ao botão de pesquisa
            document.getElementById('searchBtn').addEventListener('click', function () {
                filterSalas();
                showBackArrow();
            });

            // Adicionar evento de pressionar Enter à caixa de pesquisa
            document.getElementById('searchInput').addEventListener('input', function () {
                const searchText = this.value.toLowerCase().trim();
                const salaCards = document.querySelectorAll('.sala-card');

                salaCards.forEach(function (card) {
                    const salaNomeAttr = card.getAttribute('data-nome');
                    if (salaNomeAttr) {
                        const salaNome = salaNomeAttr.toLowerCase();

                        if (salaNome.includes(searchText)) {
                            card.style.display = 'flex';
                        } else {
                            card.style.display = 'none';
                        }
                    }
                    showBackArrow();
                });
            });

            $(document).ready(function () {
                $('#modalExcluir{{ forloop.counter }}').on('show.bs.modal', function () {
                    $('#exampleModal{{ forloop.counter }}').modal('hide');
                });
            });

            $(document).ready(function () {
                $('.editarr').click(function () {
                    var modalId = $(this).attr('data-bs-target');
                    $(modalId).modal('show');
                });
            });


            const uploadButton = document.getElementById("uploadButton");
            const inputFile = document.getElementById("id_foto");
            const fileNameSpan = document.getElementById("fileName");

            // Adiciona evento de clique no botão de upload
            uploadButton.addEventListener("click", function () {
                // Simula o clique no input de arquivo
                inputFile.click();
            });

            // Quando um arquivo é selecionado, exibe o nome do arquivo no span
            inputFile.addEventListener("change", function () {
                if (inputFile.files.length > 0) {
                    fileNameSpan.textContent = inputFile.files[0].name;
                } else {
                    fileNameSpan.textContent = "";
                }
            });
        });

    </script>

</body>
{% endblock %}