{% extends 'index.html' %}

{% block title %}
Cadastro
{% endblock %}

{% block body %}
{% load static%}


<style>
    .container2 {
        display: flex;
        height: 100vh;
        justify-content: space-between;
    }

    .bg {
        width: 40%;
        background-color: brown;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .bg img {
        max-width: 100%;
        height: auto;
    }

    .carde {
        width: 54%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-ends;
        padding:100px;
    }

    .carde form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 100%;
    }

    .carde form label {
        margin-bottom: 5px;
        font-size: 16px;
    }

    .carde form input[type="text"],
    input[type="email"],
    input[type="password"] {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding: 3px 0;
        font-size: 16px;
        width: 400px;
        margin-bottom: 7px;
    }
    .carde form input[type="upload"]{
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding: 3px 0;
        font-size: 16px;
        width: 400px;
        margin-bottom: 7px;
    }
    .carde form input[type="file"] {
    /* Ocultar o botão padrão do input de arquivo */
    display: none;
}

.carde form label.upload-label {
    /* Estilo para o rótulo que substitui o botão de arquivo */
    background-color: #000000; /* Cor de fundo verde */
    color: white;               /* Cor do texto branca */
    padding: 10px 20px;         /* Preenchimento */
    cursor: pointer;            /* Cursor ao passar */
    border-radius: 4px;         /* Cantos arredondados */
    display: inline-block;      /* Elemento de bloco */
    font-size: 16px;            /* Tamanho da fonte */
}

.carde form label.upload-label:hover {
    /* Estilo ao passar o mouse */
    background-color: #272424;  /* Cor de fundo verde mais escura */
}
    .btn {
        background-color: #d9534f;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 120px;
        color: #fff;
    }

    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 5px 36px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        box-shadow: 0 0 0 2px rgb(0, 0, 0);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button svg {
        position: absolute;
        width: 24px;
        fill: rgb(0, 0, 0);
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .arr-1 {
        right: 16px;
    }

    .animated-button .arr-2 {
        left: -25%;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #212121;
        border-radius: 5px;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
    }

    .animated-button:hover svg {
        fill: #212121;
    }

    .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px rgb(0, 0, 0);
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
    }

    .botoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        gap: 20px;
        margin-top: 10px;
    }
    
    .bg img {
        width: 200px;
        height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }
</style>

<div class="container2">
    <div class="bg">
        <img src="{% static 'admin/img/default.jpg' %}" alt="Imagem Padrão">
    </div>
    <div class="carde">
        <form action="{% url 'cadastro' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
            {{ form.user }}
            
            <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
            {{ form.first_name }}
            
            <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
            {{ form.last_name }}
            
            <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
            {{ form.email }}
            
            <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
            {{ form.password }}
            
            <label for="{{ form.cpf.id_for_label }}">{{ form.cpf.label }}</label>
            {{ form.cpf }}

            <label for="{{ form.foto.id_for_label }}" class="upload-label"> Escolha a Foto de Perfil</label>
            {{ form.foto }}

            <div class="botoes">
                <button type="reset" class="btn">Excluir</button>
                <button type="submit" class="animated-button">
                    <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                    <span class="text">Salvar</span>
                    <span class="circle"></span>
                    <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                        <path d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z"></path>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
