{% extends 'index.html' %}

{% block title %}
Calendário - {{ sala.nome }}
{% endblock %}

{% block body %}
<!-- mensagem de erro -->
{% if messages %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
<!--  -->
<div style="display: flex; flex-direction: row;;">

    <div class="seta">
        <a type="button" href="javascript:void(0)" id="backButton" class="material-symbols-outlined">
            arrow_back
        </a>
        <p>Voltar</p>
    </div>
    <div style="flex: 1; display: flex; justify-content: center; align-items: center;">
        <div style="padding-top: 10px; font-size: 17px;">
            <h1 style="text-align: center; margin-right: 50px;" >Sala {{ sala.nome }}</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="calendar">
        <div class="month">
            <i class="fas fa-angle-left prev"></i>
            <div class="date"></div>
            <i class="fas fa-angle-right next"></i>
        </div>
        <div class="weekdays">
            <div>Dom</div>
            <div>Seg</div>
            <div>Ter</div>
            <div>Qua</div>
            <div>Qui</div>
            <div>Sex</div>
            <div>Sáb</div>
        </div>
        <div class="days"></div>
        <div class="goto-today">
            <button id="schedule-btn" class="schedule-btn">Agendar</button>
            <button class="today-btn">Hoje</button>
        </div>
    </div>
    <div class="event-list">
        <div class="today-date">
            <div class="event-day"></div>
            <div class="event-date"></div>
        </div>
        <div class="events"></div>
    </div>
</div>

<form id="dateForm" action="{% url 'agendarsala' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="selected_date" id="selected_date">
    <input type="hidden" name="sala_id" id="sala_id" value="{{sala.id}}">
</form>

<style>
    .error-message {
        color: red;
        font-size: 12px;
        margin-top: 5px;
    }

    .icones {
        display: flex;
        flex-direction: column;
    }

    .botaoo {
        width: 120px;
        height: 50px;
        border: 2px solid #000000;
        border-radius: 45px;
        transition: all 0.3s;
        cursor: pointer;
        background: white;
        font-size: 15px;
        font-weight: 550;
        font-family: 'Montserrat', sans-serif;
    }

    .botaoo:hover {
        background: #8b0000;
        color: white;
        font-size: 20px;
    }

    .ContainerAg {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .contAgendar {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
    }

    .cont2 h1 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        text-align: center;
        margin-bottom: 20%;
    }

    .sidebar {
        width: 40%;
        height: 100vh;
        background: linear-gradient(45deg, #A2000F, #790404, #dd0d22);
        display: flex;
        align-items: center;
        justify-content: center;

        overflow: hidden;
    }

    .sidebar img {
        max-width: 350px;
        max-height: 350px;
        z-index: 4;



    }

    .sidebar::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 40%;
        height: 100%;
        background: radial-gradient(circle, rgba(255, 255, 255, 0.1), rgba(0, 0, 0, 0));
        mix-blend-mode: overlay;
    }

    .sidebar::after {
        content: '';
        position: absolute;
        top: -50px;
        left: -50px;
        width: 150px;
        height: 150px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 50%;
        filter: blur(50px);
    }

    .sidebar::before {
        clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
        background: linear-gradient(45deg, #8b0000, rgb(165, 4, 4), #e41d1d);

    }

    .cont2 form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }

    .form-pair {
        display: flex;
        justify-content: space-between;
        width: 80%;
    }

    .form-group {
        width: 48%;
        display: flex;
        flex-direction: column;
        color: #000;
    }

    .form-group label {
        margin-bottom: 5px;
        font-size: 16px;
        font-weight: 400;
    }

    .form-group input {
        border: none;
        border-radius: 5px;
        background-color: #d9d9d9;
        padding: 10px 10px;
        font-size: 16px;
        width: 100%;
        margin-bottom: 7px;
    }

    .form-group input[name='assunto'] {
        width: 210%;

    }

    .form-group span .btn {
        background-color: #8b0000;
        border: none;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        width: 120px;
        color: #000;
    }

    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 5px 36px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: rgb(0, 0, 0);
        box-shadow: 0 0 0 2px rgb(0, 0, 0);
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button svg {
        position: absolute;
        width: 24px;
        fill: rgb(0, 0, 0);
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .arr-1 {
        right: 16px;
    }

    .animated-button .arr-2 {
        left: -25%;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: rgb(255, 255, 255);
        border-radius: 5px;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #212121;
        border-radius: 5px;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
    }

    .animated-button:hover svg {
        fill: #212121;
    }

    .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px rgb(0, 0, 0);
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
    }

    .btnagenda {
        display: flex;
        flex-direction: row-reverse;

        gap: 20px;
    }

    @media screen and (max-width: 400px) {
        .sidebar {
            display: none;
        }

        .contAgendar {
            margin: 50px;
        }

    }
    .seta a {
        text-decoration: none;
        color: inherit;
        padding-top: 10px;
        background-color: transparent;
        padding-left: 20px;

    }

    .seta p {
        padding-top: 9px;
        font-size: 18px;
        margin-left: 5px;

    }

    .seta {
        display: flex;
        flex-direction: row;
    }

    .container {
        width: 80%;
        margin: 50px auto;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
        overflow: hidden;
    }

    .calendar {
        width: 70%;
        padding: 20px;
    }

    .month {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .date {
        font-size: 24px;
        font-weight: bold;
    }

    .weekdays,
    .days {
        display: flex;
        justify-content: space-between;
    }

    .weekdays div,
    .days div {
        width: 14.28%;
        text-align: center;
        padding: 10px 0;
    }

    .days {
        flex-wrap: wrap;
    }

    .day {
        cursor: pointer;
        border: 1px solid #f0f0f0;
        padding: 10px 0;
        transition: background-color 0.3s;
    }

    .day:hover {
        background-color: #f0f0f0;
    }

    .today {
        background-color: #dd4242;
        color: #fff;
    }

    .event {
        background-color: rgb(139, 31, 31);
        color: #fff;
    }

    .goto-today {
        text-align: right;
        margin-top: 20px;
    }

    .today-btn {
        padding: 10px 20px;
        background-color: #dd4242;
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .today-btn:hover {
        background-color: #8b0000;
    }

    .schedule-btn {
        padding: 10px 20px;
        background-color: #f0f0f0;
        color: #000;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .schedule-btn:hover {
        background-color: #b0b0b0;
    }

    .event-list {
        width: 30%;
        padding: 20px;
        border-left: 1px solid #f0f0f0;
    }

    .today-date {
        display: block;
        margin-bottom: 20px;
        font-weight: 300;
    }

    .event-day {
        font-size: 24px;
        font-weight: bold;
    }

    .event-date {
        font-size: 20px;
        color: #777;
    }

    .events {
        max-height: 300px;
        overflow-y: auto;
    }

    .event {
        background-color: #dd4242;
        color: #fff;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 5px;
    }

    .no-event {
        text-align: center;
        color: #777;
    }

    .title {
        display: flex;
        align-items: center;
    }

    .title i {
        margin-right: 10px;
        /* Espaço entre a bolinha e o título */
    }

    .event-title {
        font-size: 40px;
        /* Tamanho da fonte do título */
        /* Adicione qualquer estilização adicional para o título */
    }

    .event-time,
    .event-user,
    .event-class {
        margin-top: 5px;
        /* Espaçamento entre as informações do evento */
        font-size: 1em;
        /* Tamanho da fonte das informações do evento */
    }
    @keyframes moveBorder {
        0% {
            border: 3px solid transparent;
            border-left-color: red;
        }
        25% {
            border: 3px solid transparent;
            border-top-color: red;
        }
        50% {
            border: 3px solid transparent;
            border-right-color: red;
        }
        75% {
            border: 3px solid transparent;
            border-bottom-color: red;
        }
        100% {
            border: 3px solid transparent;
            border-left-color: red;
        }
    }

    .modal-content {
        animation: moveBorder 3s infinite ease-in-out;
    }
    .modal-title {
        color: #000
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const calendar = document.querySelector(".calendar"),
            date = document.querySelector(".date"),
            daysContainer = document.querySelector(".days"),
            prev = document.querySelector(".prev"),
            next = document.querySelector(".next"),
            todayBtn = document.querySelector(".today-btn"),
            eventDay = document.querySelector(".event-day"),
            eventDate = document.querySelector(".event-date"),
            eventsContainer = document.querySelector(".events"),
            scheduleBtn = document.getElementById("schedule-btn");


        let today = new Date();
        let activeDay = today.getDate();
        let month = today.getMonth();
        let year = today.getFullYear();

        const months = [
            "Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"
        ];


        // Obtém o ID da sala a partir do contexto Django
        const sala_id = '{{ sala.id }}'

        function initCalendar() {
            const firstDay = new Date(year, month, 1);
            const lastDay = new Date(year, month + 1, 0);
            const prevLastDay = new Date(year, month, 0);
            const prevDays = prevLastDay.getDate();
            const lastDate = lastDay.getDate();
            const day = firstDay.getDay();
            const nextDays = 7 - lastDay.getDay() - 1;

            date.innerHTML = months[month] + " " + year;

            let days = "";

            for (let x = day; x > 0; x--) {
                days += `<div class="day prev-date">${prevDays - x + 1}</div>`;
            }

            for (let i = 1; i <= lastDate; i++) {
                if (
                    i === today.getDate() &&
                    year === today.getFullYear() &&
                    month === today.getMonth()
                ) {
                    activeDay = i;
                    getActiveDay(i);
                    loadEvents(i);
                    days += `<div class="day today active">${i}</div>`;
                } else {
                    days += `<div class="day">${i}</div>`;
                }
            }

            for (let j = 1; j <= nextDays; j++) {
                days += `<div class="day next-date">${j}</div>`;
            }
            daysContainer.innerHTML = days;
            addListener();
        }

        function prevMonth() {
            month--;
            if (month < 0) {
                month = 11;
                year--;
            }
            initCalendar();
        }

        function nextMonth() {
            month++;
            if (month > 11) {
                month = 0;
                year++;
            }
            initCalendar();
        }

        prev.addEventListener("click", prevMonth);
        next.addEventListener("click", nextMonth);

        todayBtn.addEventListener("click", () => {
            today = new Date();
            month = today.getMonth();
            year = today.getFullYear();
            initCalendar();
        });

        function addListener() {
            const days = document.querySelectorAll(".day");
            days.forEach((day) => {
                day.addEventListener("click", (e) => {
                    activeDay = Number(e.target.innerHTML);
                    getActiveDay(e.target.innerHTML);
                    loadEvents(Number(e.target.innerHTML));
                    days.forEach((day) => {
                        day.classList.remove("active");
                    });
                    if (e.target.classList.contains("prev-date")) {
                        prevMonth();
                        setTimeout(() => {
                            const days = document.querySelectorAll(".day");
                            days.forEach((day) => {
                                if (
                                    !day.classList.contains("prev-date") &&
                                    day.innerHTML === e.target.innerHTML
                                ) {
                                    day.classList.add("active");
                                }
                            });
                        }, 100);
                    } else if (e.target.classList.contains("next-date")) {
                        nextMonth();
                        setTimeout(() => {
                            const days = document.querySelectorAll(".day");
                            days.forEach((day) => {
                                if (
                                    !day.classList.contains("next-date") &&
                                    day.innerHTML === e.target.innerHTML
                                ) {
                                    day.classList.add("active");
                                }
                            });
                        }, 100);
                    } else {
                        e.target.classList.add("active");
                    }
                });
            });
        }

        function loadEvents(day) {
            const formattedDate = `${year}-${String(month + 1).padStart(2, '0')}-${String(day).padStart(2, '0')}`;
            fetch(`/eventos/${sala_id}?data=${formattedDate}`)
                .then(response => response.json())
                .then(data => {
                    let events = "";
                    if (data.eventos && data.eventos.length > 0) {
                        data.eventos.forEach(evento => {
                            events += `<div class="event">
                                            <div class="title">
                                                <i class="fas fa-circle"></i>
                                                <h3 class="event-title">${evento.assunto}</h3>
                                            </div>
                                            <div class="event-time">
                                                <span class="event-time">${evento.hora_inicio} - ${evento.hora_fim}</span>
                                            </div>
                                            <div class="event-user">
                                                <span class="event-user">${evento.nome}</span>
                                            </div>
                                            <div class="event-class">
                                                <span class="event-class">${evento.turma}</span>
                                            </div>
                                             <div class="action-buttons">
                                                ${(evento.user_is_coordenador || evento.username) ? `
                                                <span type="button" class="material-symbols-outlined editarr" data-bs-toggle="modal" data-bs-target="#exampleModal_${evento.id}" data-id="${evento.id}">
                                                    edit
                                                </span>
                                                <span type="button" data-bs-toggle="modal" data-bs-target="#modalExcluir_${evento.id}" class="excluirr material-symbols-outlined">
                                                    delete
                                                </span>` : ''}
                                            </div>
                                            <!-- Modal editar -->
                                            <div class="modal modal-container fade" id="exampleModal_${evento.id}" tabindex="-1" aria-labelledby="exampleModalLabel_${evento.id}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="{% url 'atualizaragendamento' %}" method="post" enctype="multipart/form-data">
                                                                {% csrf_token %}

                                                                <div class="form-pair">
                                                                    <div class="form-group">
                                                                        <div>
                                                                            <label for="{{ form.data.id_for_label }}">{{ form.data.label }}</label>
                                                                        </div>
                                                                        {{ form.data }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="{{ form.turma.id_for_label }}">{{ form.turma.label }}</label>
                                                                        {{ form.turma }}
                                                                    </div>
                                                                    <div>
                                                                        {{ form.sala }}
                                                                    </div>
                                                                </div>

                                                                <div class="form-pair" >
                                                                    <div class="form-group">
                                                                        <label for="{{ form.assunto.id_for_label }}">{{ form.assunto.label }}</label>
                                                                        {{ form.assunto }}
                                                                    </div>
                                                                </div>

                                                                <div class="form-pair">
                                                                    <div class="form-group">
                                                                        <label for="{{ form.hora_entrada.id_for_label }}">{{ form.hora_entrada.label }}</label>
                                                                        {{ form.hora_entrada }}
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label for="{{ form.hora_saida.id_for_label }}">{{ form.hora_saida.label }}</label>
                                                                        {{ form.hora_saida }}
                                                                    </div>
                                                                </div>
                                                                <input type="hidden" id="agendamento_id" name="agendamento_id" value=${evento.id}>
                                                                
                                                                <div class="btnagenda mt-4">
                                                                    <button type="submit" class="animated-button">
                                                                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                                                            </path>
                                                                        </svg>
                                                                        <span class="text">Salvar</span>
                                                                        <span class="circle"></span>
                                                                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                                                            </path>
                                                                        </svg>
                                                                    </button>

                                                                    <button class="botaoo" type="button" href="javascript:void(0)" id="backButton" data-bs-dismiss="modal">
                                                                        Cancelar
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Modal do excluir -->
                                            <div class="modal fade" id="modalExcluir_${evento.id}" tabindex="-1" aria-labelledby="exampleModalLabel1_${evento.id}" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h1 class="modal-title fs-5" id="exampleModalLabel1_${evento.id}" style="color: #000000;">Excluir</h1>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form id="deleteForm" action="{% url 'deletaragendamento' %}" method="POST">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="evento_id" value="${evento.id}">
                                                                <input type="hidden" name="sala_id" value="{{ sala.id}}">
                                                                
                                                                <p style="color:#000000;">Tem certeza de que deseja excluir este agedamento?</p>

                                                                <div class="btnagenda mt-4">
                                                                    <button type="submit" class="animated-button">
                                                                        <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                                                            </path>
                                                                        </svg>
                                                                        <span class="text">Excluir</span>
                                                                        <span class="circle"></span>
                                                                        <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                                                            <path
                                                                                d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                                                            </path>
                                                                        </svg>
                                                                    </button>

                                                                    <button class="botaoo" type="button" href="javascript:void(0)" id="backButton" data-bs-dismiss="modal">
                                                                        Cancelar
                                                                    </button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>`;
                        });
                    } else {
                        events = `<div class="no-event"><h3>Sem eventos</h3></div>`;
                    }
                    eventsContainer.innerHTML = events;
                })
                .catch(error => {
                    console.error('Erro ao carregar eventos:', error);
                    eventsContainer.innerHTML = `<div class="no-event"><h3>Erro ao carregar eventos</h3></div>`;
                });
        }

        /////////////////////////////////
        $(document).on('show.bs.modal', '.modal', function (event) {
            var button = $(event.relatedTarget); // Botão que disparou o modal
            var eventoId = button.data('id'); // ID do evento a ser editado ou excluído

            if (button.hasClass('excluirr')) {
                // Fazer requisição AJAX para buscar detalhes do evento (se necessário)
                // Atualmente, os detalhes para exclusão são passados diretamente no HTML gerado
            } else {
                // Fazer requisição AJAX para buscar detalhes do evento para edição
                $.ajax({
                    url: `/detalhes_evento/${eventoId}/`, // URL da view Django para detalhes do evento
                    method: 'GET',
                    success: function (data) {
                        // Preencher os campos do formulário no modal com os dados recebidos
                        $('#exampleModal_' + eventoId + ' #id_assunto').val(data.assunto);
                        $('#exampleModal_' + eventoId + ' #id_data').val(data.data);
                        $('#exampleModal_' + eventoId + ' #id_hora_entrada').val(data.hora_inicio);
                        $('#exampleModal_' + eventoId + ' #id_hora_saida').val(data.hora_fim);
                        $('#exampleModal_' + eventoId + ' #id_turma').val(data.turma);
                        $('#exampleModal_' + eventoId + ' #id_sala').val(data.sala);
                    },
                    error: function (xhr, status, error) {
                        console.error('Erro ao carregar detalhes do evento:', error);
                        // Tratar erros conforme necessário
                    }
                });
            }
        });
        
        /////////////////////////////

        function getActiveDay(date) {
            const day = new Date(year, month, date);
            const options = { weekday: "long" };
            const dayName = new Intl.DateTimeFormat("pt-BR", options).format(day);
            eventDay.innerHTML = dayName;
            eventDate.innerHTML = date + " " + months[month] + " " + year;
        }

        function saveEvents() {
            localStorage.setItem("events", JSON.stringify(eventsArr));
        }

        function getEvents() {
            if (localStorage.getItem("events") === null) {
                return;
            }
            eventsArr.push(...JSON.parse(localStorage.getItem("events")));
        }

        // Adicione um evento de clique no botão "Agendar"
        scheduleBtn.addEventListener("click", () => {
            const selectedDate = eventDate.innerHTML;
            const [day, monthName, year] = selectedDate.split(' ');
            const monthIndex = months.indexOf(monthName);
            const formattedDate = `${day.padStart(2, '0')}/${(monthIndex + 1).toString().padStart(2, '0')}/${year}`;
            document.getElementById("selected_date").value = formattedDate;
            document.getElementById("dateForm").submit();
        });

        initCalendar();
    });

    document.getElementById('backButton').addEventListener('click', function () {
        window.history.back();
    });


</script>

{% endblock %}