{% extends 'index.html' %}

{% block title %}
    Agendamento
{% endblock %}

{% block body %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    .login-container {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding: 40px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 50%;
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .login-container h1 {
        font-size: 1.5rem;
        font-family: 'Inter', sans-serif;
        margin-bottom: 20px;
        width: 100%;
    }

    .login-container form {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .login-container form label {
        width: 112%;
        text-align: left;
        margin-bottom: 5px;
    }

    .login-container form input {
        background-color: #e0e0e0;
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        width: 110%; 
        font-size: 16px;
        margin-bottom: 10px; 
    }

    .login-container form input[type="password"] {
        width: 112%; /
    }

    .login-container .form-group input::placeholder {
        color: #888;
    }

    .login-container .btn-primary {
        background-color: #d9534f;
        border: none;
        width: 50%;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        margin-left: 25px;
        
    }

    .login-container .btn-primary:hover {
        background-color: #c9302c;
    }

    @media (max-width: 768px) {
    .login-container {
        max-width: 80%; 
        padding: 20px; 
   
    }
}
</style>

<div class="login-container">
    <h1>Bem-vindo!</h1>
    <h1>Digite seu email e senha para começarmos</h1>
    <form action="login" method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
</div>

{% endblock %}
