{% extends 'index.html' %}

{% block title %}
    Visualizar perfil
{% endblock %}

{% block body %}

<div class="containerPerfil">
    <div class="campoInfo">
    </div>
    <div class="conteudo">
        <img src="{{ usuario.foto_user.url }}" alt="Foto de perfil">
        {% csrf_token %}
        <div class="info-container">
            <div class="info-column">
                <label for="instrutor">Nome de Usuário</label>
                <p>{{ usuario.nome }}</p>
                <label for="nomecompleto">Nome Completo</label>
                <p>{{ user_link.first_name }} {{ user_link.last_name }}</p>
            </div>
            <div class="info-column">
                <label for="Email">Email</label>
                <p>{{ user_link.email }}</p>
                <label for="CPF">CPF</label>
                <p>{{ usuario.cpf }}</p>
            </div>
        </div>
    </div>
</div>

<style>
    .containerPerfil {
        background-color: #f5f5f5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 4rem;
        box-sizing: border-box;
    }

    .campoInfo {
        background-color: #9B0000;
        width: 100%;
        height: 50vh;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .conteudo {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        box-sizing: border-box;
        
    }

    .conteudo img {
        width: 60%;
        border-radius: 50%;
        box-shadow: 5px -3px 20px black;
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 800px; 
        margin-top: 20px;
        margin-left: 50px;

    }

    .info-column {
        flex: 1;
        margin-right: 20px; 
    }

    .conteudo p {
        background-color: #d9d9d9;
        width: 100%;
        max-width: 385px;
        height: 2.5rem;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .conteudo label {
        color: #f5f5f5;
    }
</style>

{% endblock %}
