{% extends 'index.html' %}

{% block title %}
Visualizar perfil
{% endblock %}

{% block body %}
<!-- Seta pra voltar -->
<div class="seta">
    <a type="button" href="javascript:void(0)" id="backButton" class="material-symbols-outlined">
        arrow_back
    </a>
    <p>Voltar</p>
</div>
<!-- Container para a ft e infos de cada perfil -->
<div class="containerPerfil">
    <div class="campoInfo">
    </div>
    <div class="conteudo">
        <div class="divft">
            <img class="fotinha" src="{{ usuario.foto_user.url }}" alt="Foto de perfil">
        </div>
        {% csrf_token %}
        <div class="info-container">
            <div class="info-column">
                <label for="instrutor">Nome de Usuário</label>
                <p>{{ usuario.nome }}</p>
                <label for="nomecompleto">Nome Completo</label>
                <p>{{ user_link.first_name }} {{ user_link.last_name }}</p>
            </div>
            <div class="info-column">
                <label for="Email">Email</label>
                <p>{{ user_link.email }}</p>
                <label for="CPF">CPF</label>
                <p>{{ usuario.cpf }}</p>
            </div>
        </div>
        <div class="action-buttons">
            <span type="button" class="material-symbols-outlined editarr" data-bs-toggle="modal" data-bs-target="#exampleModal">
                edit
            </span>
            {% if perfil_usuario.id != usuario.id %}
            <span type="button" data-bs-toggle="modal" data-bs-target="#modalExcluir" class="excluirr material-symbols-outlined">
                delete
            </span>
            {% endif %}
        </div>
    </div>
</div>

<!-- Modal editar -->
<div class="modal modal-container fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'atualizar' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="{{ form.nome.id_for_label }}">{{ form.nome.label }}</label>
                        {{ form.nome }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.sobrenome.id_for_label }}">{{ form.sobrenome.label }}</label>
                        {{ form.sobrenome }}
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
                        {{ form.email }}
                    </div>
                    <div class="mb-3">
                        <a href="{{ usuario.foto_user.url }}" id="currentPhotoLink" target="_blank" class="btn btn-light">Foto Atual</a>
                    </div>
                    <div class="mb-3">
                        <label for="{{ form.foto.id_for_label }}" >{{ form.foto_usuario.label }}</label>
                        <input type="file" id="{{ form.foto.id_for_label }}" name="{{ form.foto.name }}" class="form-control-file" style="display: none;">
                        <button type="button" class="btn btn-light" style="margin-left: 0px;" id="uploadButton">Escolher arquivo</button>
                        <span id="fileName" class="file-name"></span>
                    </div>
                    <div>
                        {{ form.username }}
                    </div>
                    <div class="botoes">
                        
                        
                        
                        <button type="submit" class="animated-button">
                            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                            <span class="text">Salvar</span>
                            <span class="circle"></span>
                            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                        </button>
                        <button class="botaoo" type="button" id="backButton" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal do excluir -->
<div class="modal fade" id="modalExcluir" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel1">Excluir</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="deleteForm" action="{% url 'deletar' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="username" value="{{ usuario.nome }}">
                    <p>Tem certeza de que deseja excluir este usuário?</p>
                    <div class="botoes">
                        
                        
                        <button type="submit" class="animated-button">
                            <svg viewBox="0 0 24 24" class="arr-2" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                            <span class="text">Excluir</span>
                            <span class="circle"></span>
                            <svg viewBox="0 0 24 24" class="arr-1" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M16.1716 10.9999L10.8076 5.63589L12.2218 4.22168L20 11.9999L12.2218 19.778L10.8076 18.3638L16.1716 12.9999H4V10.9999H16.1716Z">
                                </path>
                            </svg>
                        </button>
                        <button class="botaoo" type="button" id="backButton" data-bs-dismiss="modal">
                            Cancelar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Estilização pág -->
<style>
    .action-buttons {
    margin-top: 10px; /* Espaço entre as informações e os botões */
    display: flex;
    justify-content: center; 
    margin-bottom: 10px;
    margin-left: 0px;
    margin-right: 0px;
}

.action-buttons .editarr, .action-buttons .excluirr {
    display: block; 
    text-align: center; 
    margin-top: 0px; 
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
}
.seta a {
        text-decoration: none;
        color: inherit;
        padding-top: 10px;
        background-color: t;
        padding-left: 20px;

    }

    .seta p {
        padding-top: 9px;
        font-size: 18px;
        margin-left: 5px;

    }

    .seta {
        display: flex;
        flex-direction: row;
        background-color: #f5f5f5;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    .central {
        justify-content: center;
    }
    .divft {
        margin-right: 0px;
        max-width: 220px;
    }
    .fotinha {
        max-width: 220px;
        min-width: 220px;
        max-height: 220px;
        min-height: 220px;
        object-fit: cover;
    }
    .editarr {
        color: #ffffff;
    }
    .excluirr {
        color: #ffffff;
    }
    .containerPerfil {
        background-color: #f5f5f5;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: center;
        padding-top: 4rem;
        box-sizing: border-box;
    }

    .campoInfo {
        background-color: #9B0000;
        width: 100%;
        height: 60vh;
        position: fixed;
        bottom: 0;
        left: 0;
        margin-bottom: 0;
        padding-bottom: 0;

    }

    .conteudo {
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 90%;
        box-sizing: border-box;

    }

    .conteudo img {
        width: 60%;
        max-width: 30%;
        border-radius: 50%;
        margin-top: 0px;
        box-shadow: 5px -3px 20px black;
    }

    .info-container {
        display: flex;
        justify-content: space-between;
        justify-self: center;
        width: 100%;
        max-width: 800px;
        margin-top: 20px;
        margin-left: 30px;
        padding: 0px;
        margin-right: 0px;
    }

    .info-column {
        flex: 1;
        margin-right: 20px;
    }

    .conteudo p {
        background-color: #d9d9d9;
        width: 100%;
        max-width: 385px;
        height: 2.5rem;
        border-radius: 10px;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
    }

    .conteudo label {
        color: #f5f5f5;
    }

    .modal-body form input[type="text"],
    input[type="email"],
    input[type="password"] {
        border: none;
        border-bottom: 1px solid black;
        outline: none;
        padding: 2px 0;
        font-size: 16px;
        width: 100%;
        margin-bottom: 7px;
    }

    .form-control-file {
        display: none;
    }

    .btn-primary {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .file-name {
        margin-left: 10px;
        font-style: italic;
    }

    .current-photo-link {
        display: inline-block;
        margin-bottom: 10px;
        color: #007bff;
        text-decoration: none;
        cursor: pointer;
        padding: 10px 20px;
        border: 1px solid #007bff;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    .current-photo-link:hover {
        background-color: #007bff;
        color: white;
        text-decoration: none;
    }

    .current-photo-link:hover {
        background-color: #0056b3;
        color: white;
        text-decoration: none;
    }

    @keyframes moveBorder {
        0% {
            border: 3px solid transparent;
            border-left-color: red;
        }
        25% {
            border: 3px solid transparent;
            border-top-color: red;
        }
        50% {
            border: 3px solid transparent;
            border-right-color: red;
        }
        75% {
            border: 3px solid transparent;
            border-bottom-color: red;
        }
        100% {
            border: 3px solid transparent;
            border-left-color: red;
        }
    }

    .modal-content {
        animation: moveBorder 3s infinite ease-in-out;
    }
    .botoes {
        display: flex;
        flex-direction: row-reverse;

        gap: 20px;
    }
    .animated-button {
        position: relative;
        display: flex;
        align-items: center;
        gap: 4px;
        padding: 10px 30px;
        border: 4px solid;
        border-color: transparent;
        font-size: 16px;
        background-color: inherit;
        border-radius: 100px;
        font-weight: 600;
        color: #9B0000;
        box-shadow: 0 0 0 2px #9B0000;
        cursor: pointer;
        overflow: hidden;
        transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button svg {
        position: absolute;
        width: 24px;
        fill: #9B0000;
        z-index: 9;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .arr-1 {
        right: 16px;
    }

    .animated-button .arr-2 {
        left: -25%;
    }

    .animated-button .circle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 20px;
        height: 20px;
        background-color: #9B0000;
        border-radius: 50%;
        opacity: 0;
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button .text {
        position: relative;
        z-index: 1;
        transform: translateX(-12px);
        transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .animated-button:hover {
        box-shadow: 0 0 0 12px transparent;
        color: #FFFFFF;
        border-radius: 12px;
    }

    .animated-button:hover .arr-1 {
        right: -25%;
    }

    .animated-button:hover .arr-2 {
        left: 16px;
    }

    .animated-button:hover .text {
        transform: translateX(12px);
        color: #FFFFFF;
    }

    .animated-button:hover svg {
        fill: #FFFFFF;
    }

    .animated-button:active {
        scale: 0.95;
        box-shadow: 0 0 0 4px #9B0000;
    }

    .animated-button:hover .circle {
        width: 220px;
        height: 220px;
        opacity: 1;
    }
    .botaoo {
        padding: 10px 30px;
        border: 2.5px solid #8b0000;
        border-radius: 45px;
        transition: all 0.3s;
        cursor: pointer;
        background: white;
        font-size: 15px;
        font-weight: 550;
        color: #8b0000;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;
    }

    .botaoo:hover {
        background: #8b0000;
        color: white;
        font-size: 18px;
    }
</style>

<!-- Scripts -->
<script>
    // Botão de upload ft
    document.getElementById('uploadButton').addEventListener('click', function() {
        document.getElementById('{{ form.foto.id_for_label }}').click();
    });

    document.getElementById('{{ form.foto.id_for_label }}').addEventListener('change', function(event) {
        const fileName = event.target.files[0] ? event.target.files[0].name : 'Escolher arquivo';
        document.getElementById('uploadButton').textContent = fileName;
    });
    // Foto atual
    document.getElementById('currentPhotoLink').addEventListener('click', function(event) {
        event.preventDefault();  // Prevenir o comportamento padrão do link
        window.open(this.href, '_blank');
    });
    // Botão de voltar para a pág anterior
    document.getElementById('backButton').addEventListener('click', function() {
        window.history.back();
    });
</script>

{% endblock %}
