{% extends 'index.html' %}

{% block title%}
usuarios
{% endblock %}


{% block body %}



<style>
    .containernav2 {
        display: flex;
        max-width: 100%;
        height: 100%;
        background-color: #9B0000;
    }

    .search-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        flex-grow: 1;
    }

    .search-box {
        display: flex;
        align-items: center;
        background-color: #ffffff;
        border-radius: 40px;
        height: 35px;
        padding: 10px;
    }

    .search-text {
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        width: 0;
        transition: 0.4s;

    }


    .search-btn {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        align-self: center;
    }

    .search-box:hover>.search-text {
        width: 320px;
        padding-left: 20px;
    }


    .ContMain {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        height: 100vh;
        background-color: #e0e0e0;
        justify-content: center;
        align-items: start;
        
    }


    .Profile,
    .Profile2 {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px;
        align-items: center;
        justify-content: center;
        gap: 20px;
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .Profile div,
    .Profile2 div {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 20%;
    }

    .Profile div img,
    .Profile2 div img {
        min-width: 200px;
        max-width: 200px;
        min-height: 200px;
        max-height: 200px;
        object-fit: cover;
        border-radius: 50%;
    }

    .Profile div p,
    .Profile2 div p {
        font-size: 1.1rem;
        font-family: "Inter";
        text-align: center;
        width: 100%;

    }

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #eee;
        border: none;
        padding: 4rem;
        font-size: 1rem;
        width: 10rem;
        height: 10rem;
        border-radius: 50%;
        color: #8B0000;
        box-shadow: 0 0.4rem #dfd9d9;
        cursor: pointer;

    }

    button:active {
        color: #8B0000;
        box-shadow: 0 0.2rem #dfd9d9;
        transform: translateY(0.2rem);
    }

    button:hover:not(:disabled) {
        background: #8B0000;
        color: #ffffff;
        text-shadow: 0 0.1rem #000000;
    }

    button:disabled {
        cursor: auto;
        color: grey;
    }

    button span.material-symbols-outlined {
        text-align: center;
    }

    .back-arrow {
        display: none;
        color: #FFFFFF;
        font-size: 18px;
        margin-left: 15px;
        cursor: pointer;
    }

</style>
</head>

<body>

    <div class="navbar" style="background-color: #A2000F;">
        <div class="container-fluid">
            <div style="display: flex; align-items: center;">
                <div class="search-container">
                    <a class="navbar-brand back-arrow" id="backArrow">
                        <span class="material-symbols-outlined" style="color:#FFFFFF">arrow_back</span>
                    </a>
                    <div class="search-box">
                        <input type="text" class="search-text" id="searchInput" placeholder="Pesquisar usuário">
                        <a class="search-btn"><span type="submit" style="color: #4d4c4cc5"
                                class="material-symbols-outlined">
                                search
                            </span></a>
                    </div>
                </div>
                <a class="navbar-brand" style="color: #FFFFFF; font-size: 18px; padding-left: 20px; ">Instrutor</a>
            </div>
            {% if user.is_authenticated and user_is_coordenador %}
            <a href="{% url 'cadastro'%}" class="navbar-brand"
                style="color: #FFFFFF; font-size: 18px; display: flex; align-items: center;">Adicionar instrutor <span class="material-symbols-outlined" style="padding-left: 5px;">
                    add
                </span></a>
                {%endif%}
        </div>
    </div>

    <main class="ContMain">
        <div class="Profile div">
            {% for usuario in dados_usuarios %}
            <div>
                <a style="text-decoration: none; color: #000000;" href="{% url 'perfil' usuario.id %}">
                    <img src="{{ usuario.foto_user.url }}" alt="Instrutor">
                    <p style="padding-top: 10px;">{{ usuario.nome }}</p>
                </a>
            </div>
            {% endfor %}
            {% if user.is_authenticated and user_is_coordenador %}
            <form action="{% url 'cadastro' %}" method="post">
                {% csrf_token %}
                <button type="submit">
                    <span class="material-symbols-outlined" style="font-size: 50px; text-align: center;">
                        person_add
                    </span>
                </button>
            </form>
            {% endif %}
        </div>
        </div>
    </main>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('backArrow').addEventListener('click', function () {
                window.history.back();
            });

            document.getElementById('searchInput').addEventListener('keyup', function () {
                var searchText = this.value.toLowerCase();
                var profiles = document.querySelectorAll('.Profile div p');

                profiles.forEach(function (profile) {
                    var profileName = profile.textContent.toLowerCase();
                    var parentProfile = profile.closest('.Profile div');

                    if (profileName.includes(searchText)) {
                        parentProfile.style.display = 'flex';
                    } else {
                        parentProfile.style.display = 'none';
                    }
                });
            });
        });
        
    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>









{% endblock %}