<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

    .containerNAV {
        background-color: #fff;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-bottom: 3px solid red;
    }

    .containerNAV img {
        margin-left: 3rem;
        width: 70%;
        border-right: 3px solid #000;
        border-radius: 1px;
        padding-right: 25px;

    }

    .tituloNAV {
        flex-direction: row;
        width: 40%;
        text-align: start;
        font-family: 'Inter', sans-serif;
        padding-top: 0.7rem;
        font-size: 0.97rem;
    

    }

    .link {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    transition: font-size 0.3s ease; /* Adiciona uma transição suave para o aumento do tamanho da fonte */
    }

    .link img{
        display: flex; 
        border: 0px;
        width: 50px; 
        height: 50px; 
        margin: 0; 
        padding: 0px; 
        border-radius: 50%; 
        object-fit: cov;
        margin-right: 5px;
    }

    .link:hover,
    .link:focus {
        font-size: 1.1em; /* Aumenta o tamanho da fonte quando o mouse passa por cima */
        text-decoration: none; /* Garante que o link não fique sublinhado */
        color: #000; /* Mantém a cor preta */
    }

    .icn{
        margin-right: 8px;
    }

    @media (max-width: 768px) {



        .containerNAV img {
            display: none;
        }

        .tituloNAV {
            font-size: 0.8rem;
            

        }

        .link{
            font-size: 10px;
        }
    }


    @media (max-width: 880px) {


        .tituloNAV {
            font-size: 0.8rem;
        }


    }

    
    
    @media (max-width: 660px) {
        .containerNAV img {
            max-width: 50%;
            align-items: center;
            padding: 5%;
            border: none;
        }

        .tituloNAV {
            display: none;
        }


    
    }
</style>



<nav>
    <div class="containerNAV ">
        <div class="d-flex flex-direction-row">
            <a class="navbar-brand d-flex align-items-center" href="/">
                <img src="{{ dados_agenda.0.logo.url }}" alt="Logo" class="d-inline-block align-text-top">
            </a>
            <p class="tituloNAV">{{ dados_agenda.0.titulo }}</p>
        </div>

        <div style="margin-right: 3rem; display: flex; flex-direction: row; gap: 10px">
            {% if user.is_authenticated %}
                {% if user_is_coordenador %}
                    <a href="/usuarios" class="link"><span class="material-symbols-outlined icn">
                        manage_accounts
                        </span> Instrutores</a>
                    <a href="/agenda" class="link"><span class="material-symbols-outlined icn">
                        calendar_month
                    </span> Agenda </a>
                    <a href="/perfil/{{perfil_usuario.id}}" class="link"> <img src="{{perfil_usuario.foto_user.url}}"
                        alt="foto"> Bem-vindo, {{userr.username}}</a>

                    <a href="/logout" class="link"><span class="material-symbols-outlined icn">
                        logout
                    </span> </a>
                {% else %}
                    <a href="/agenda" class="link"><span class="material-symbols-outlined icn">
                            calendar_month
                        </span> Agenda </a>
                    <a href="/perfil/{{perfil_usuario.id}}" class="link"> <img src="{{perfil_usuario.foto_user.url}}"
                            alt="foto"> Bem-vindo, {{userr.username}}</a>

                    <a href="/logout" class="link"><span class="material-symbols-outlined icn">
                            logout
                        </span> </a>
                {% endif %}
            {% else %}
            <a href="login" class="link"><span class="material-symbols-outlined icn">
                    account_circle
                </span> Entrar</a>
            {% endif %}
        </div>
    </div>
</nav>